@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* Autocomplete styling */
.autocomplete {
    padding: 0 !important;
    min-width: 0 !important;
}

.autocomplete::after {
    border-color: hsl(var(--bc)) !important;
}

.autocomplete-list {
    border-radius: 1rem;
    background-color: hsl(var(--b1)) !important;
    border: none !important;
    margin-top: 0.5rem;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    min-width: fit-content;
}

.autocomplete-list-item {
    border-color: hsl(var(--bc)) !important;
    color: inherit !important;
    font-size: large;
    font-family: inherit;
    font-weight: 400;
    margin: 0 0.5rem;
    border-radius: var(--rounded-btn, 0.5rem);
    padding: .75rem !important;

    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter,
        -webkit-backdrop-filter !important;
    transition-duration: 200ms !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
}

.autocomplete-list-item:hover {
    background-color: hsl(var(--b2)) !important;
}

.confirmed {
    background-color: hsl(var(--p)) !important;
    color: hsl(var(--pc)) !important;
}

.confirmed:hover{
    background-color: hsl(var(--pf)) !important;
    color: hsl(var(--pc)) !important;
}

.selected:not(.confirmed, :hover) {
    background-color: inherit !important;
}

.input-container {
    min-width: 0 !important;
}

.autocomplete-input {
    min-width: 0 !important;
}